.kontakt__header {
    width: 90vw;
    max-width: 600px;
    margin: 0px auto 40px auto;
}
.kontakt__heading {
    font-size: 30px;
    margin-top: 60px;
}
.kontakt__form-heading {
    text-transform: none;
    margin-bottom: 20px;
}
.kontakt__form {
    width: 90vw;
    max-width: 600px;
    margin: 0px auto;
}
.kontakt__info {
    width: 90vw;
    max-width: 600px;
    margin: 0px auto;
}
.kontakt__info-item {
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 46px;
    position: relative;
}

.kontakt__info-item::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    left: -45px;
    top: -6px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.kontakt__info-item--tel::before {
    background-image: url(../media/local_phone_24px.svg);
}
.kontakt__info-item--mail::before {
    background-image: url(../media/mail_24px.svg);
}
.kontakt__info-item--address::before {
    background-image: url(../media/room_24px.svg);
}

.kontakt__form-item {
    position: relative;
}
.kontakt__form-input {
    width: 100%;
    height: 45px;
    border-style: solid;
    border-color: var(--primary);
    border-width: 1px;
    margin-bottom: 15px;
    margin-top: 7px;
    padding: 0px;
}
.kontakt__form-input--notes {
    height: 280px;
    margin-bottom: 0px;
}
.button--kontakt {
    margin-top: 35px;
}
.kontakt__form-input--select {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
}
.kontakt__arrow-down {
    border: solid var(--primary);
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 1;
}

.kontakt__map-container {
    width: 100%;
    height: 100%;
    max-height: 577px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.kontakt__map {
    max-height: 577px;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 761px) {
    .kontakt__heading {
        font-size: 45px;
    }
    .kontakt__map-container {
        margin-top: 40px;
    }
}

@media screen and (min-width: 961px) {
    .kontakt__header {
        text-align: center;
        max-width: 800px;
        margin-bottom: 100px;
    }
    .kontakt__form-input {
        height: 55px;
        margin-bottom: 20px;
    }
    .kontakt__arrow-down {
        top: 45px;
    }
    .kontakt__form-input--notes {
        height: 220px;
    }
    .button--kontakt {
        margin-top: 20px;
    }
    .kontakt__heading {
        font-size: 60px;
        margin-top: -40px;
    }
    .kontakt__info {
        max-width: 800px;
    }
    .kontakt__info-item::before {
        top: -21px;
        left: -80px;
        width: 20px;
        height: 20px;
        padding: 20px;
        background-size: 20px 20px;
    }
    .kontakt__info-item {
        margin-left: 82px;
        margin-bottom: 72px;
    }
    .kontakt__map-container {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1281px) {
    .kontakt__form {
        margin: 0px auto 0px 10vw;
    }
    .kontakt__map-container {
        margin: auto;
        margin-bottom: 120px;
        max-width: 1200px;
        max-height: 577px;

    }
    
}

@media screen and (min-width: 1600px) {
    .kontakt__header {
        margin-bottom: 140px;
    }
    .kontakt__map-container {
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    .kontakt__map-overlay {
        display: block;
        width: inherit;
        height: inherit;
        margin: 0px;
        background: linear-gradient(0deg, rgba(235, 108, 39, 0.6), rgba(235, 108, 39, 0.6));
        position: absolute;
        top: 0%;
        right: 0%;
    }
    .kontakt__main {
        margin-left: 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 140px;
    }
}