.header {
    display: block;
    height: 269px;
    position: relative;
}
.header__textbox {
    position: absolute;
    left: 20px;
    top: 179px;
}
.sluzby__item {
    display: block;
    width: 320px;
}
.sluzby__item-heading {
    margin: 18px 0px 10px 0px
}
.sluzby__main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.sluzby__header {
    width: 320px;
    margin: 55px auto 75px auto;
}
.duvera__textbox {
    display: block;
    margin: 0px 20px;
    padding-top: 23px;
}
.reference__item {
    display: block;
    width: 320px;
}
.reference__main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.reference__header {
    width: 320px;
    margin: 16px auto 62px auto;
}
.reference__item-heading {
    margin-bottom: 6px;
}
.reference__item-text {
    margin: 0px;
}
.reference__item-textbox {
    width: 320px;
    margin: 10px auto 35px auto;
    text-align: center;
}