body {
    margin: 0px;
}
.header {
    display: block;
    width: 100vw;
    position: relative;
}
.navbar__main {
    height: 109px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.header__main {
    height: 269px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
}
.sluzby__item {
    display: block;
    width: 320px;
}
.sluzby__item-heading {
    margin: 18px 0px 10px 0px
}
.sluzby__main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.sluzby__header {
    width: 320px;
    margin: 55px auto 75px auto;
}
.duvera__textbox {
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
}
.duvera__content {
    margin-left: 5%;
}
.duvera {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reference__item {
    display: block;
    width: 320px;
}
.reference__main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.reference__header {
    width: 320px;
    margin: 16px auto 62px auto;
}
.reference__item-heading {
    margin-bottom: 6px;
}
.reference__item-text {
    margin: 0px;
}
.reference__item-textbox {
    width: 320px;
    margin: 10px auto 35px auto;
    text-align: center;
}
.button--sluzby {
    margin-top: 18px;
    margin-bottom: 40px;
}
.button--reference {
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
}
.footer {
    height: 75vw;
    max-height: 360px;
    width: 100vw;
    margin-top: 96px;
}
.button--footer {
    margin: 26px auto 41px auto;
}
.footer__heading {
    padding-top: 66px;
    padding-bottom: 26px;
    margin: 0px;
}
.footer__text {
    margin: 0px;
}