.sluzba__list {
    margin-bottom: 20px;
    padding-left: 25px;
}
.sluzba__list-item::marker {
    color: var(--primary);
    font-size: 25px;
}
.sluzba__list--nested {
    list-style-type: inherit;
    padding-left: 35px;
}
.sluzba__list-heading ~ .sluzba__list {
    margin-bottom: 15px;
    margin-top: 0px;
}
.sluzba__list-heading {
    margin-bottom: 10px;
}

.o-nas__list {
    margin-bottom: 20px;
    padding-left: 25px;
}
.o-nas__list-item::marker {
    color: var(--primary);
    font-size: 25px;
}
@media screen and (min-width: 961px) {
    .sluzba__list, .o-nas__list {
        margin-bottom: 52px;
        padding-left: 100px;
    }
    .sluzba__list--nested {
        padding-left: 40px;
    }
    .sluzba__list-heading ~ .sluzba__list {
        margin-bottom: 20px;
    }
}