html {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}
.header__heading {
    font-weight: 800;
    color: white;
}
.header {
    background-image: url("../media/pageheader-1920w.jpg");
    background-size: cover;
    background-position: center center;
}